<!DOCTYPE html>
<html>

<head>
    <title>Find an Artist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header>
        <h1>Find an Artist</h1> 
    </header>

    <nav>
        <a href="artists" >Artists</a>
        <a href="customers" >Customers</a>
        <a href="commissions" >Commissions</a>
        <a href="genres" >Genres</a>
        <a href="mediums" >Mediums</a>
       <!--<a href="ArtistGenres.html" >ArtistGenres</a>
        <a href="ArtistMediums.html" >ArtistMediums</a>
        <a href="ArtistCommissions.html" >ArtistCommissions</a> -->
        <!--<a href="CommissionGenres.html" >CommissionGenres</a> -->
         <!--<a href="CommissionGenres.html" >CommissionGenres</a> -->
        
    </nav>   

    <main>
        <section>
            <!-- table -->
            <h2>Artists</h2>
            <article id = "artistsTable">
                <table>
                    <!-- <caption>Optional Description</caption> -->
                    <thead>
                      <tr>
                        <th>Artist ID</th>
                        <th>Email</th>
                        <th>Full Name</th>
                        <th>Commissions Completed</th>
                        <th>Genres</th>
                        <th>Mediums</th>
                        <th>Update</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>

                    {% for item in artistTableDisplay %}
                    <tr>
                        <td>{{item['artistID']}}</td>
                        <td>{{item['email']}}</td>
                        <td>{{item['name']}}</td>
                        <td>{{item['completedCount']}}</td>
                        <td>{{item['genre']}}</td>
                        <td>{{item['medium']}}</td>
                        
                        <td class="edit">
                        <a href="editArtist/{{item.artistID}}" class="btn btn-default">
                        <button><i style="font-size:24px" class="fa">&#xf044;</i></button>
                        </a>
                        </td>

                        <td class="delete">
                        <a href="deleteArtist/{{item.artistID}}" class="btn btn-default">
                        <button><i class="fa fa-trash" style="font-size:24px"></i></button>
                        </a>
                        </td>
                        						    
                    </tr>
                    {% endfor %}

                  </table>
            </article>

         <article id = "artistsForms">
          <!-- insert -->
          <table>
            <tbody>
              <tr>
                <td>
                  <form id="addArtist" action="/artists" method="post">
                    <legend>Add Artist</legend>
                    <p>Add a new artist and, optionally, a genre and a medium they associate with.</p>

                    

                    <label for="email">Artist's Email: </label>
                    <input type="email" id ="email" name="email" pattern="[^ @]+@[^ @]+.[a-z]+"placeholder="email@domain.com" required>

                    <label for="name">Artist's full name: </label>
                    <input type="text" id="name" name="name" placeholder="John Doe" required>

                    <label for="genre">Artist Genre</label>
                    <select name="genre" id="genre" multiple>
                      {% for genre in genreDisplay %}
                      <option value ={{genre['genreID']}}>{{genre['type']}}</option>
                      {% endfor %}
                    </select>

                    <label for="medium">Artist Medium</label>
                    <select name="medium" id="medium" multiple>
                      {% for medium in mediumDisplay %}
                      <option value ={{medium['mediumID']}}>{{medium['type']}}</option>
                      {% endfor %}
                    </select>
                    

                    <input type="submit" value="Add Artist" name="insertArtist">
                    

                  </form>
                </td>
              </tr>
            </tbody>
          </table>
         
         </article>
        </section>
    </main>
</body>
</html>