<!DOCTYPE html>
<html>

<head>
    <title>Find an Artist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header>
        <h1>Find an Artist</h1> 
    </header>

    <nav>
        <a href="artists" >Artists</a>
        <a href="customers" >Customers</a>
        <a href="commissions" >Commissions</a>
        <a href="genres" >Genres</a>
        <a href="mediums" >Mediums</a>
     <!--<a href="ArtistGenres.html" >ArtistGenres</a>
      <a href="ArtistMediums.html" >ArtistMediums</a>
      <a href="ArtistCommissions.html" >ArtistCommissions</a> -->
      <!--<a href="CommissionGenres.html" >CommissionGenres</a> -->
       <!--<a href="CommissionGenres.html" >CommissionGenres</a> -->
    </nav>   

    <main>
        <section>
            <!-- table -->
            <h2>Commissions</h2>
            <article id = "commissionsTable">
                <table>
                    <!-- <caption>Optional Description</caption> -->
                    <thead>
                      <tr>
                        <th>Commission ID</th>
                        <th>Artist ID</th>
                        <th>Request Status</th>
                        <th>Genres</th>
                        <th>Mediums</th>
                        <th>Date Requested</th>
                        <th>Date Completed</th>
                        <th>Price</th>
                        <th>Customer IDs</th>
                        <th>Update</th>
                        <th>Delete</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for item in commissionTableDisplay %}
                    <tr>
                        <td>{{item['commissionID']}}</td>
                        <td>{{item['artistID']}}</td>
                        <td>{{item['requestStatus']}}</td>
                        <td>{{item['genre']}}</td>
                        <td>{{item['medium']}}</td>
                        <td>{{item['dateRequested']}}</td>
                        <td>{{item['dateCompleted']}}</td>
                        <td>{{item['price']}}</td>
                        <td>{{item['customerID']}}</td>
                        
                        <td class="edit">
                        <a href="editCommission/{{item.commissionID}}" class="btn btn-default">
                        <button><i style="font-size:24px" class="fa">&#xf044;</i></button>
                        </a>
                        </td>

                        <td class="delete">
                        <a href="deleteCommission/{{item.commissionID}}" class="btn btn-default">
                        <button><i class="fa fa-trash" style="font-size:24px"></i></button>
                        </a>
                        </td>
                        						    
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </article>

        <article id = "commissionForms">
          <!-- insert -->
          <table>
            <tbody>
              <tr>
                <td>
                  <form id="addCommission" action="/commissions" method="post">
                    <legend>Add Commission</legend>
                    <p>Create a new commission. When applicable, specify an involved artist, the customer, a genre, and a medium. 
                    Indicate the status of the commission, the date the commission was requested, and, if finished, the date it
                    was completed. Input the price.</p>

                    <label for="artists">Artists</label>
                    <select name="artists" id="artists" multiple required>
                    {% for artist in artistDisplay %}
                    <option value ={{artist['artistID']}}>{{artist['email']}}</option>
                    {% endfor %}
                    </select>
                    
                    <label for="customers">Customers</label>
                    <select id="customers" name="customer" required>
                    {% for customer in customerDisplay %}
                    <option value ={{customer['customerID']}}>{{customer['email']}}</option>
                    {% endfor %}
                    </select>

                    
                    <label for="genre">Commission Genre</label>
                    <select name="genre" id="genre" multiple>
                      {% for genre in genreDisplay %}
                      <option value ={{genre['genreID']}}>{{genre['type']}}</option>
                      {% endfor %}
                    </select>

                    <label for="medium">Commission Medium</label>
                    <select name="medium" id="medium" multiple>
                      {% for medium in mediumDisplay %}
                      <option value ={{medium['mediumID']}}>{{medium['type']}}</option>
                      {% endfor %}
                    </select>
                    

                    <label for="dateRequested">Date Requested:</label>
                    <input type="date" id="dateRequested" name="dateRequested" required>

                    <label for="price">Price: </label>
                    <input type="number" name="price" id = "price" min="0" placeholder=0.00 required>                  
                  
                    <label for="insertCommission"></label>
                    <input type="submit" value="Add Commission" name="insertCommission">
                    

                  </form>
                </td>
              </tr>
            </tbody>
          </table>
         
         </article>
        </section>
    </main>
</body>
</html>