<!DOCTYPE html>
<html>

<head>
  <title>Find an Artist</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header>
        <h1>Find an Artist</h1> 
    </header>

    <nav>
      <a href="artists" >Artists</a>
      <a href="customers" >Customers</a>
      <a href="commissions" >Commissions</a>
      <a href="genres" >Genres</a>
      <a href="mediums" >Mediums</a>
    </nav>   

    <main>
        <section>
            <!-- table -->
            <h2>Genres</h2>
            <article id = "genresTable">
                <table>
                    <thead>
                      <tr>
                        <th>Genre ID</th>
                        <th>Type</th>
                        <th>Artist Count</th>
                        <th>Commission Count</th>
                        <th>Update</th>
                        <th>Delete</th>

                      </tr>
                    </thead>
                    <tbody>
                      
                    {% for item in genreTableDisplay %}
                    <tr>
                        <td>{{item['genreID']}}</td>
                        <td>{{item['type']}}</td>
                        <td>{{item['artistCount']}}</td>
                        <td>{{item['commissionCount']}}</td>
                        
                        <td class="edit">
                        <a href="editGenre/{{item.genreID}}" class="btn btn-default">
                        <button><i style="font-size:24px" class="fa">&#xf044;</i></button>
                        </a>
                        </td>

                        <td class="delete">
                        <a href="deleteGenre/{{item.genreID}}" class="btn btn-default">
                        <button><i class="fa fa-trash" style="font-size:24px"></i></button>
                        </a>
                        </td>
                        						    
                    </tr>
                    {% endfor %}

                    </tbody>
                  </table>
            </article>

         <article id = "genreForms">
          <!-- insert -->
          <table>
            <tbody>
              <tr>
                <td>

                  <form id="addGenre" action="/genres" method="post">
                    <legend>Add Genre</legend>
                    <p>Specify the name of the genre.</p>
                    <label for="type">Genre type: </label>
                    <input type="text" id="type" name="type" placeholder="Steampunk" required>
                    
                    <label></label>
                    <input type="submit" value="Add Genre" name="insertGenre">
                  </form>

                </td>
              </tr>
            </tbody>
          </table>
          
         </article>
        </section>
    </main>
</body>
</html>